<section>
  <form action="">
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Datos personales</ng-template>
          <bel-order-checkout-body-form-step-1 [stepper]="this.stepper" [formGroup]="firstFormGroup" />
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Dirección</ng-template>
          <bel-order-checkout-body-form-step-2 [formGroup]="secondFormGroup"/>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Método de pago</ng-template>
        <p>Selecciona tu método de pago</p>
        <div>
          <button mat-button matStepperPrevious>Back</button>
          <button mat-button (click)="stepper.reset()">Reset</button>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</section>
