@import '../../../../../../../src/styles.scss';

:host {
  padding: 0;
  width: 100%;
  position: relative;
  & section {
    position: absolute;
    top: 0;
    width: 100%;
    & form {
      padding-bottom: 72px;
      ::ng-deep {
        & mat-stepper {
          background: transparent;
          & .mat-horizontal-stepper-wrapper {
            gap: 12px;
            & .mat-horizontal-content-container {
              @extend %fullPadding;
            }
          }
        }
      }
      @media (width >= 1008px) {
        padding-bottom: 0;
      }
    }
  }
}
