<section>
  <form [formGroup]="formCheckout">
    <mat-stepper linear #stepper>
      <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Datos personales</ng-template>
          <bel-order-checkout-body-form-step-1 [stepper]="this.stepper" [formGroup]="firstFormGroup" />
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Dirección</ng-template>
          <bel-order-checkout-body-form-step-2 [formGroup]="secondFormGroup"/>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Resumen</ng-template>
        <p>Resumen de tu pedido</p>
        <div>
          <bel-order-checkout-body-form-step-3-wompi/>
        </div>
      </mat-step>
    </mat-stepper>
  </form>
</section>
