@use '@angular/material' as mat;
mat-form-field {
  width: 100%;
  & mat-icon, span {
    color: var(--md-sys-color-primary);
  }
  span {
    padding-right: 8px;
  }
}

// Customize the entire app. Change :root to your selector if you want to scope the styles.
@include mat.form-field-overrides((
  filled-caret-color: orange,
  filled-focus-active-indicator-color: red,
));
