@import "../../../../../src/styles.scss";

:host {
  @extend %fullPadding;
  display: flex;
  width: 100%;
  & .nav-products {
    gap: 12px;
    display: flex;
    width: 100%;
    & bel-nav-card:nth-child(1) {
      @extend .on-secondary-container;
      ::ng-deep {
        & .title {
          @extend .on-secondary-text;
        }
      }
    }
    & bel-nav-card:nth-child(2) {
      @extend .on-primary-container;
      ::ng-deep {
        & .title {
          @extend .on-primary-text;
        }
      }
    }
    & bel-nav-card:nth-child(3) {
      @extend .on-tertiary-container;
      ::ng-deep {
        & .title {
          @extend .on-tertiary-text;
        }
      }
    }

    & bel-nav-card {
      opacity: 0.5;
    }

    .active {
      opacity: 1;
    }
  }
}
