<h2 mat-dialog-title>Crear nuevo Tamaño</h2>
<form [formGroup]="sizeForm">
<mat-dialog-content>
  <div class="sample" [ngStyle]="{'background-color': data.hexa }" *ngIf="data.hexa"></div>
  <mat-form-field appearance="outline">
    <mat-label>Nombre del tamaño</mat-label>
    <input required formControlName="name" matInput [(ngModel)]="data.name">
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-raised-button (click)="saveSize()" [mat-dialog-close]="data" [disabled]="sizeForm.invalid" cdkFocusInitial>Guardar Tamaño</button>
</mat-dialog-actions>
</form>
