<div class="shop-item-container">
  <div class="shop-item-container__module">
    <figure>
      <div *ngIf="!isImageLoaded" class="skeleton-card skeleton-line"></div>
      <img [src]="item.images" (load)="onImageLoad()" alt="" />
    </figure>
    <div class="info">
      <div class="info__details">
        <div class="info__details--basic">
          <h4 class="name">{{ item.name }}</h4>
          <p>{{ item.price | currency : "COP $" }}</p>
        </div>
        <div class="info__details--specific">
          <p>{{ item.quantity }}</p>
          <div class="vertical-divider"></div>
          <p>{{ item.size }}</p>
          <div class="vertical-divider"></div>
          <div
            class="color"
            [ngStyle]="{ 'background-color': item.color }"
          ></div>
        </div>
      </div>
      <div class="info__actions">
        <button (click)="viewItem()" mat-icon-button matTooltip="Ver">
          <mat-icon>visibility</mat-icon>
        </button>
        <!--         <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button> -->
        <button (click)="deleteItem()" mat-icon-button matTooltip="Eliminar">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
