<div class="shop-item-container">
  <div class="shop-item-container__module">
    <img src="https://static.pullandbear.net/assets/public/2757/af08/649b478983ec/c085b1fb27a2/0724957780201-D2/0724957780201-D2.jpg?ts=1724765811715&w=1280" alt="">
    <div class="info">
      <div class="info__details">
        <div class="info__details--basic">
          <h4 class="name">Nombre que puede llegar a ser ligeramente largo</h4>
          <p>$24.000.000</p>
        </div>
        <div class="info__details--specific">
          <p>1 und</p>
          <div class="vertical-divider"></div>
          <p>talla</p>
          <div class="vertical-divider"></div>
          <div class="color"></div>
        </div>
      </div>
      <div class="info__actions">
        <button mat-icon-button>
          <mat-icon>visibility</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
