<footer class="footer skeleton-footer">
  <div class="footer__container">
    <div class="footer__section">
      <div class="skeleton-line title"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line short"></div>
      <div class="skeleton-line"></div>
    </div>
    <div class="footer__section">
      <div class="skeleton-line title"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line short"></div>
      <div class="skeleton-line"></div>
    </div>
    <div class="footer__section">
      <div class="skeleton-line title"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line short"></div>
      <div class="skeleton-line"></div>
    </div>
    <div class="footer__section">
      <div class="skeleton-line title"></div>
      <div class="skeleton-line"></div>
      <div class="skeleton-line short"></div>
      <div class="skeleton-line"></div>
    </div>
  </div>
  <div class="footer__social">
    <div class="skeleton-avatar"></div>
    <div class="skeleton-avatar"></div>
    <div class="skeleton-avatar"></div>
    <div class="skeleton-avatar"></div>
    <div class="skeleton-avatar"></div>
  </div>
  <div class="footer__bottom">
    <div class="skeleton-line short"></div>
    <div class="skeleton-line"></div>
  </div>
</footer>
