<!-- <div *ngFor="let input of firstData" class="w-full">
  <mat-form-field class="w-full" appearance="outline">
    <mat-label>{{ input.label }}</mat-label>
    <input
      class="w-full"
      matInput
      [placeholder]="input.placeholder"
      [formControlName]="input.formControlName"
      [type]="input.type"
      (input)="input.formControlName === 'price' ? formatPrice($event) : null"
    />
  </mat-form-field>
</div>
<mat-form-field appearance="outline">
  <mat-label>Categoría</mat-label>
  <mat-select formControlName="category">
    <mat-option *ngFor="let category of categories" [value]="category">
      {{ category }}
    </mat-option>
  </mat-select>
</mat-form-field>
<div>
  <button mat-raised-button matStepperNext color="primary">
    Siguiente
  </button>
</div>
 -->
