//animations

@use "./animations/show.scss";

//Components
@forward "./components/button";

/* @use "./components/avatar";
@use "./components/menu";
@use "./components/tables";
@use "./components/autocomplete";
@use "./components/snackbar";
@use "./components/button-icon";
@use "./components/accordion";
@use "./components/scroll";
@use "./components/skeleton";
@use "./components/drawer";
@use "./components/dialog";
@use "./components/input";
@use "./components/select";
@use "./components/select-list";
@use "./components/sidenav";
@use "./components/overlay-backdrop";
 */
//Maqeuta

@use "./variables" as *;
@use "./mixin" as *;
@use "./placeholder" as *;

html {
  main {
    width: 100%;
    display: flex;
    justify-content: center;
    section {
      max-width: $maxWidth;
      margin-top: 70px;
      width: 100%;
      box-sizing: border-box;
    }
  }
}

.w-full {
  width: 100% !important;
}

.w-auto {
  width: auto !important;
}

.flex {
  display: flex !important;
}

.flex_center {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.mat-mdc-dialog-container .mdc-dialog__surface {
  border-radius: 24px !important;
}

.mat-mdc-dialog-content {
  max-height: 99vh !important;
}
