<mat-stepper #stepper>
  <form [formGroup]="productForm">
    <mat-step errorMessage="Name is required.">
      <ng-template matStepLabel>Datos básicos</ng-template>
      <div *ngFor="let input of firstData" class="w-full">
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>{{ input.label }}</mat-label>
          <input
            class="w-full"
            matInput
            [placeholder]="input.formControlName"
            [formControlName]="input.formControlName"
          />
          <mat-error *ngIf="input.matError">{{ input.matError }}</mat-error>
        </mat-form-field>
      </div>
      <mat-form-field appearance="outline">
        <mat-label>Estado del producto</mat-label>
        <mat-icon matTextSuffix>grade</mat-icon>
        <mat-select formControlName="category">
          <mat-option *ngFor="let category of categories" [value]="category">
            {{ category }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-raised-button matStepperNext color="primary">
          Siguiente
        </button>
      </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Imágenes</ng-template>
      <div *ngFor="let input of secondData" formGroupName="image">
        <mat-form-field appearance="outline">
          <mat-label>{{ input.formControlName }}</mat-label>
          <input
            type="text"
            matInput
            placeholder="https://www.image.com/"
            [formControlName]="input.formControlName"
          />
        </mat-form-field>
      </div>
      <button mat-button matStepperPrevious color="primary">Atras</button>
      <button mat-raised-button matStepperNext color="primary">
        Siguiente
      </button>
      <button mat-raised-button (click)="onSubmit()">Crear</button>
    </mat-step>
  </form>
</mat-stepper>
