@import "../../../../../../../src/styles.scss";

:host {
  @extend %fullPadding;
  display: flex;
  width: 100%;
  z-index: 100;
  position: relative;
  & .nav-products {
    gap: 12px;
    display: flex;
    width: 100%;
    & bel-nav-card:nth-child(1) {
      @extend .on-secondary-container;
      ::ng-deep {
        & .title {
          @extend .on-secondary-text;
        }
      }
    }
    & bel-nav-card:nth-child(2) {
      @extend .on-primary-container;
      ::ng-deep {
        & .title {
          @extend .on-primary-text;
        }
      }
    }
    & bel-nav-card:nth-child(3) {
      @extend .on-tertiary-container;
      ::ng-deep {
        & .title {
          @extend .on-tertiary-text;
        }
      }
    }

    & bel-nav-card {
      opacity: 1;
    }

    .active {
      opacity: 1;
    }
  }

  .nav--active {
    @extend .surface;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 9px 6px rgb(0 0 0 / 22%);
    @extend %fullPadding;
    padding-block: 4px !important;
    transition: all 200ms;
    border-radius: 0 0 8px 8px;
  }
}
