@import '../../../../../../../../src/styles.scss';

:host {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
  gap: 8px;
  transition: all 200ms;


  & .product--data {
    flex-direction: column;
    border-radius: 12px;
    display: flex;
    height: 350px;
    overflow: hidden;
    border: 1px solid var(--md-sys-color-outline-variant);
    position: relative;
    width: 100%;

    & .figure {
      width: 100%;
      height: 100%;
      display: flex;
      overflow-x: auto;
      scroll-snap-type: x mandatory; /* Habilita el scroll snap */
      scrollbar-width: none; /* Oculta scrollbar en Firefox */
      -ms-overflow-style: none; /* Oculta scrollbar en IE y Edge */

      &::-webkit-scrollbar {
        display: none; /* Oculta scrollbar en Webkit */
      }

      .product--img {
        width: 100%;
        object-fit: cover;
        scroll-snap-align: center;
        transition: transform 200ms;
      }
    }

    & .miniature {
      position: absolute;
      bottom: 0px;
      left: 0px;
      @extend %fullPadding;
      display: flex;
      gap: 4px;
      z-index: 2;
      &__figure {
        display: flex;
        gap: 4px;
        &--image {
          width: 40px;
          height: 60px;
          object-fit: cover;
          border: 1px solid transparent;
          transition: all 200ms;
          opacity: 0.3;
          border-radius: 4px;
          filter: blur(0.8px);
          &.active {
            filter: blur(0);
            opacity: 1;
          }
        }
      }
    }
  }

  & .title {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }
}
