<ng-container *ngIf="isLoading; else content">
  <bel-nav-skeleton></bel-nav-skeleton>
</ng-container>

<ng-template #content>

<nav
[ngClass]="{
'product-nav--active' : isScrolledHalfway,
'hide-nav': !isScrollingUp,
}"
>
<ul class="navigation">
  <li class="logo" routerLink="./">
    <svg
      width="74"
      height="62"
      viewBox="0 0 74 62"
      fill="none"
      xmlns="http://www.w3.org/2000/svg"
    >
      <g clip-path="url(#clip0_13_118)">
        <path
          class="fill-svg"
          d="M53.569 25.5462V27.9304H25.3502C23.7663 27.9304 22.2144 27.7856 20.7103 27.5042C13.9518 26.2458 8.13489 22.2816 4.40457 16.7735C2.4656 13.9149 1.08917 10.6422 0.434872 7.11627C0.147617 5.58044 0 4.00039 0 2.38415V0H28.2228C36.9282 0 44.6043 4.42254 49.1684 11.1569C51.9452 15.2537 53.569 20.207 53.569 25.5462Z"
        />
        <path
          class="fill-svg"
          d="M74 62H42.1067C36.1262 62 31.2788 57.1151 31.2788 51.0884H63.1721C67.0061 51.0884 70.3734 53.0946 72.2924 56.1261C73.3736 57.8227 74 59.837 74 62Z"
        />
        <path
          class="fill-svg"
          d="M53.5692 31.1265V48.0527H36.7768C35.0932 48.0527 33.4694 47.8035 31.9374 47.3371C25.0193 45.2464 19.9844 38.7775 19.9844 31.1265H53.5692Z"
        />
      </g>
      <defs>
        <clipPath id="clip0_13_118">
          <rect width="74" height="62" fill="white" />
        </clipPath>
      </defs>
    </svg>
  </li>
  <li class="search search-container">
    <div class="input-wrapper">
      <mat-icon matSuffix>search</mat-icon>
      <input
        type="text"
        class="custom-input"
        [(ngModel)]="searchValue"
        [placeholder]="animatedPlaceholder"
        (focus)="onFocus()"
        (blur)="onBlur()"
      />
    </div>
  </li>
  <li class="navigation--actions">
    <ul>
      <li class="mat-menu">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>account_circle</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>login</mat-icon>
            <span>Ingresar</span>
          </button>
          <bel-swich-theme class="theme" />
        </mat-menu>
      </li>

      <li matRipple role="navigation">
        <button mat-icon-button (click)="openDialog()">
          <mat-icon [matBadge]="totalItems">shopping_cart</mat-icon>
        </button>
      </li>
    </ul>
  </li>
</ul>
<div class="filters" *ngIf="isInProductosRoute">
  <ng-container>
    <bel-nav-card></bel-nav-card>
  </ng-container>
</div>
</nav>
</ng-template>

