@import '../../../../../src/styles.scss';

:host {
  display: flex;
  justify-content: center;
  width: 100%;
  nav {
    width: 100%;
    @extend %fullPadding;
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: $maxWidth;
    & .navigation {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      gap: 16px;
      & .logo {
        max-width: 50px;
        width: 100%;
        cursor: pointer;
        & svg {
          width: 100%;
        }
      }
      & .search {
        width: 100%;
        &__form-field {
          width: 100%;
        }
      }
      &--actions {
        position: relative;

        & div {
          @extend .navigation;
          gap: 24px;
          & ul {
            gap: 4px;
            @extend .navigation;
            & li {
            }
          }
        }
      }
    }
    & .filters{
      display: flex;
      width: 100%;
      z-index: 100;
      position: relative;
      gap: 12px;
      }
  }
}
