<mat-form-field class="example-chip-list" appearance="outline">
  <mat-chip-listbox>
    <mat-chip
      *ngFor="let subcategory of selectedSubcategories"
      [removable]="true"
      (removed)="remove(subcategory)"
    >
      {{ subcategory }}
      <button matChipRemove>
        <mat-icon>cancel</mat-icon>
      </button>
    </mat-chip>
    <input
      placeholder="Selecciona una subcategoría"
      (input)="filter($any($event.target)?.value)"
    />
  </mat-chip-listbox>
</mat-form-field>
<mat-autocomplete>
  <mat-option
    *ngFor="let subcategory of filteredSubcategories"
    (click)="add(subcategory)"
  >
    {{ subcategory }}
  </mat-option>
</mat-autocomplete>
