
  <div formGroupName="characteristics">
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Alto</mat-label>
      <input
        class="w-full"
        matInput
        placeholder="40cm"
        formControlName="height"
      />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Ancho</mat-label>
      <input
        class="w-full"
        matInput
        placeholder="30cm"
        formControlName="broad"
      />
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>Peso</mat-label>
      <input
        class="w-full"
        matInput
        placeholder="1kg"
        formControlName="weight"
      />
    </mat-form-field>
  </div>
  <button mat-button matStepperPrevious color="primary">Atrás</button>
  <button mat-raised-button matStepperNext color="primary">
    Siguiente
  </button>
