@import '../../../../../../../../src/styles.scss';

:host {
  width: 100%;
  @extend %fullPadding;
  border-radius: 12px;
  cursor: pointer;
  transition: all 200ms;
  border: 2px solid;
  &:hover {
    transform: scale(1.02);
  }
  & .card-container {
    display: flex;
    flex-direction: column;
    @media (max-width:1007px) {
      .title {
        font-size: 20px;
      }
      & .button {
        display: none;
      }
    }
    & div {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  .active {

  }
}
