@import "../../../../../../../../src/styles.scss";

:host {
  display: flex;
  width: 100%;
  justify-content:space-between;
  & .container {
    display: flex;
    gap: 8px;
    & .card-container {
      display: flex;
      padding: 8px 12px;
      border-radius: 8px;
      &:nth-child(1) {
        background-color: var(--md-sys-color-primary);
        & h4 {
          color: var(--md-sys-color-on-primary);
        }
      }
      &:nth-child(2) {
        background-color: var(--md-sys-color-secondary);
        & h4 {
          color: var(--md-sys-color-on-primary);
        }
      }
      &:nth-child(3) {
        background-color: var(--md-sys-color-tertiary);
        & h4 {
          color: var(--md-sys-color-on-primary);
        }
      }
      & .title {
      }
    }
  }
  & mat-icon {
    color: var(--md-sys-color-on-surface);
  }
}
