:host {
  display: flex;
  overflow: auto;
  width: 100%;
  padding-top: 48px + 24px;
  padding-bottom: 72px;
  max-width: var(--max-width);
  justify-content: center;
  & .deviceInactive {
    display: none;
  }
}
