<section>
  <mat-accordion>
    <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
      <mat-expansion-panel-header>
        <mat-panel-title> Resumen del pedido </mat-panel-title>
        <mat-panel-description>
          $ 30.000 COP
        </mat-panel-description>
      </mat-expansion-panel-header>
      <bel-items-added/>
    </mat-expansion-panel>
  </mat-accordion>
  <div class="cta">
    <button (click)="continuar()" mat-raised-button>Continuar</button>
    <button *ngIf="orderCheckoutBodyForm.stepper.selectedIndex > 0" (click)="atras()" mat-button>Atrás</button>
  </div>
</section>
